{% extends 'base.html' %}
{% block about %}
    <div class="row justify-content-center">
        <h3 class="mb-4">{% block title %}About Us{% endblock %}</h3>
    </div>
    <p class="m-3">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend
        tellus est, non scelerisque odio sagittis vel. Mauris at elit vitae augue consectetur facilisis. Donec a ante
        nec odio porttitor eleifend quis vitae nibh. Nunc eu dictum nibh, quis condimentum ex. Morbi bibendum felis vel
        lacus rhoncus varius. Nunc mattis dui facilisis sapien suscipit, et feugiat ligula gravida. Pellentesque
        ultricies sapien ut viverra maximus. Praesent consectetur imperdiet magna, quis facilisis tellus elementum quis.
        Fusce a justo et arcu sagittis iaculis. Donec aliquet tortor felis, faucibus molestie justo tristique a. Morbi
        euismod nibh leo, sed sagittis turpis molestie ut. Aenean laoreet sed libero vel tincidunt. Maecenas sit amet
        arcu metus.</p>
    <p class="m-3">&nbsp;&nbsp;&nbsp;&nbsp;Mauris a cursus neque. Aenean porttitor ipsum sed felis tincidunt porta.
        Vivamus eleifend pellentesque ipsum, quis tincidunt risus consequat sit amet. Cras vitae quam ante. Donec in
        semper felis, nec pretium odio. Aenean ut elementum nunc. Etiam ac fermentum risus, sit amet commodo risus.
        Pellentesque lectus purus, bibendum in metus a, blandit sodales elit. Nunc in suscipit massa, vitae bibendum
        magna. Integer egestas, diam ut tempus vulputate, quam arcu malesuada urna, ut viverra magna lorem ut mi. Morbi
        imperdiet mattis nisi vel dictum. Nunc congue tristique pretium.</p>
    <p class="m-3">&nbsp;&nbsp;&nbsp;&nbsp;Vivamus fermentum dapibus imperdiet. Proin vulputate vehicula ultrices. Nunc
        quis sodales libero. Praesent sit amet iaculis mauris. In venenatis ultricies lacinia. Maecenas tincidunt sit
        amet risus ut pretium. Fusce in blandit nunc, tincidunt condimentum erat. Nunc bibendum varius ornare. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}
