{% block navbar %}
    <nav class="navbar navbar-expand navbar-light bg-light mb-5 border-bottom">
        <a class="navbar-brand"
           href="{% if current_user.is_authenticated %} {{ url_for('main.home') }} {% else %} {{ url_for('auth.login') }} {% endif %} ">To-Do
            App Project</a>
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('task.statics') }}">Statics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.settings') }}">Settings</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}">About Us</a>
            </li>
        </ul>
        {% if current_user.is_authenticated %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item ml-5">
                    <a href="{{ url_for('task.create_new_task') }}">
                        <button class="btn btn-primary" type="submit">Create New Task</button>
                    </a>
                </li>
                <li class="nav-item ml-5">
                    <a href="{{ url_for('auth.logout') }}">
                        <button class="btn btn-danger" type="submit">Exit
                            - {{ current_user.first_name|title }} {{ current_user.last_name|upper }}</button>
                    </a>
                </li>
            </ul>
        {% endif %}
    </nav>
{% endblock %}
