{%- extends 'base.html' -%}
{%- block statics -%}
    <div class="row justify-content-center">
        <h3 class="mb-4">{% block title %}Your Statistics{% endblock %}</h3>
    </div>
    <div class="row">
        <div class="col-5 mb-4">
            <p><b>Amount of Completed Tasks</b></p>
        </div>
        <div class="col-7 mb-4">
            <p id="completed_tasks">{{ statics.completed }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-4">
            <p><b>Amount of Deleted Tasks</b></p>
        </div>
        <div class="col-7 mb-4">
            <p id="deleted_tasks">{{ statics.deleted }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-4">
            <p><b>Amount of Gave Up Tasks</b></p>
        </div>
        <div class="col-7 mb-4">
            <p id="gave_up_tasks">{{ statics.gave_up }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-4">
            <p><b>Amount of Idle Tasks</b></p>
        </div>
        <div class="col-7 mb-4">
            <p id="idle_tasks">{{ statics.idle }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-4">
            <p><b>Graph</b></p>
        </div>
        <div class="col-7 mb-4">
            {% if flag %}
                {% set path = 'images/plot/' + current_user.id|string + '.png' %}
                <img src="{{ url_for('static', filename=path) }}" width="450" height="450"
                     class="img-thumbnail" alt="Statics of All Tasks"/>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
{%- endblock -%}