{%- extends 'base.html' -%}
{%- block task -%}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td class="w-25"><strong>Title</strong></td>
                <td>{{ task.title}}</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Task</strong></td>
                <td>{{ task.content }}</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Created Date</strong></td>
                <td>{{ task.created_date }}</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Expected Ended Date</strong></td>
                <td>{{ task.expected_dead_line }}</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Ended Date</strong></td>
                <td>{{ task.ended_date }}</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Situation</strong></td>
                <td>{{ task.status }}</td>
            </tr>
        </table>
    </div>
{%- endblock -%}
