{%- extends 'base.html' -%}
{%- block tasks -%}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="w-auto">ID</th>
                <th class="w-50">Task Title</th>
                <th class="w-auto">Created Time</th>
                <th class="w-auto">Expected Dead Line</th>
                <th class="w-auto"></th>
                <th class="w-auto"></th>
                <th class="w-auto"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{{ url_for('task.detail', tid=task.id) }}">{{ task.title }}</a></td>
                    <td>{{ task.created_date }}</td>
                    <td>{{ task.expected_dead_line }}</td>
                    <td>
                        <button class="btn btn-success" type="submit">Complete</button>
                    </td>
                    <td>
                        <button class="btn btn-secondary" type="submit">Give Up</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
