<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid">
    {%- include 'fixed/navbar.html' -%}
    {%- block tasks -%}{%- endblock -%}
    <div class="col-7 mx-auto border rounded bg-light pl-5 pr-5 pt-5 pb-3">
        {%- block login -%}{%- endblock -%}
        {%- block register -%}{%- endblock -%}
        {%- block settings -%}{%- endblock -%}
        {%- block about -%}{%- endblock -%}
        {%- block new_task -%}{%- endblock -%}
        {%- block task -%}{%- endblock -%}
        {%- block statics %}{%- endblock -%}
    </div>
    {%- include 'fixed/footer.html' -%}
</div>
</body>
</html>
