{%- extends 'base.html' -%}
{%- block settings -%}
    <div class="row justify-content-center">
        <h3 class="mb-4">{% block title %}Settings{% endblock %}</h3>
    </div>
    <form action="/">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-6 mb-4">
                <div class="form-outline">
                    {{ form.first_name(class_='form-control', placeholder="First Name", value=current_user.first_name) }}
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="form-outline">
                    {{ form.last_name(class_='form-control', placeholder="Last Name", value=current_user.last_name) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="form-outline">
                    {{ form.email(class_='form-control', placeholder="E-Mail", value=current_user.email) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4">
                <div class="form-outline">
                    {{ form.password(class='form-control', placeholder="Password") }}
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="form-outline">
                    {{ form.confirm(class='form-control', placeholder="Password Validation") }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4">
                <div class="form-outline">
                    {{ form.submit(class_='form-control btn btn-success') }}
                </div>
            </div>
        </div>
    </form>
{%- endblock -%}
