{%- extends 'base.html' -%}
{%- block new_task -%}
    <div class="col-7 mx-auto">
        <div class="border rounded bg-light pl-5 pr-5 pt-5 pb-3">
            <form action="/">
                <div class="row justify-content-center">
                    <h3 class="mb-4">Create Your Task</h3>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="form-outline">
                            <textarea type="text" id="task" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-4">
                        <div class="form-outline">
                            <input type="submit" id="mail" class="form-control btn btn-success"
                                   value="Create New Task">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%- endblock -%}