{%- extends 'base.html' -%}
{%- block statics -%}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td class="w-25"><strong>Amount of Completed Tasks</strong></td>
                <td>20</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Amount of Gave Up Tasks</strong></td>
                <td>30</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Amount of Deleted Tasks</strong></td>
                <td>40</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Amount of Idle Tasks</strong></td>
                <td>5</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Graph of Statics</strong></td>
                <td>draw</td>
            </tr>
        </table>
    </div>
{%- endblock -%}