{%- extends 'base.html' -%}
{%- block task -%}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td class="w-25"><strong>ID</strong></td>
                <td>1</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Title</strong></td>
                <td>Developing Project</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Task</strong></td>
                <td>Project is To-Do App, it is kind of project for the lesson.</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Created Date</strong></td>
                <td>23-10-2000</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Expected Ended Date</strong></td>
                <td>23-10-2030</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Ended Date</strong></td>
                <td>23-10-2040</td>
            </tr>
            <tr>
                <td class="w-25"><strong>Situation</strong></td>
                <td>Completed</td>
            </tr>
        </table>
    </div>
{%- endblock -%}
