{%- extends 'base.html' -%}
{%- block tasks -%}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="w-auto">ID</th>
                <th class="w-25">Task Detail</th>
                <th class="w-auto">Created Time</th>
                <th class="w-auto"></th>
                <th class="w-auto"></th>
                <th class="w-auto"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2</td>
                <td>Task title</td>
                <td>21/06/2022 05:45 PM</td>
                <td>
                    <button class="btn btn-success" type="submit">Complete</button>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">Give Up</button>
                </td>
                <td>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
